.app {
  display: grid;
  grid-template: 
  'header header' 50px
  'sidebar content' /
  200px auto;
  height: 100vh;
  overflow-y: hidden;
  background-color: #544;
}


.header {
  grid-area: header;
  text-align: center;
}

